<p id="notice"><%= notice %></p>

<h1>Groups</h1>

    <% @groups.each do |group| %>
        <div class="row item">
	        <div class="col-md-8">
	        <p>Group: <%= link_to group.name, group %></p>
	        <p>Teacher: <%= group.teacher %></p>
	        </div>
        	<div class="col-md-1">
		        <p><%= link_to group do %></p>
		        	<i class="fa fa-child fa-lg" aria-hidden="true"></i>
		        	<%end%>
	    	</div>

	    	<div class="col-md-1">
		        <p><%= link_to edit_group_path(group) do %></p>
		        	<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
		        	<%end%>
	        </div>

	        <div class="col-md-1">
		        <p><%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do%></p>
		        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
		        	<%end%>
	        </div>
	       </div>
   
    <% end %>

   <h3>Alunos não matriculados </h3>
   <% @users.each do |user| %>
   <% if user.group.nil? %>
    <p><%= user.nome %></p>
    <%end%>

    <% end %>