<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @group.schedule %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @group.teacher %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @group.obs %>
</p>


<h3>Pessoas nesse grupo</h3>

  <% @group.users.each do |member| %>
    <p><%=member.nome %></p>
    <%end%>

<h3>Pessoas não inscritas em turmas</h3>

  <% @users.each do |user| %>
  <% if user.group == nil%>
    <p><%= user.nome %> — <%= link_to 'Adicionar ao time', group_add_user_path(@group.id, user), method: :patch %></p>
    <%else%>
    <p>Todos os alunos estão inscritos</p>
 <% end %>

  <%end%>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>