<p>
 <%=form_tag users_path, :method => :get do %>  
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
	<%end%>
	</p>

<p><% @users.each do |user| %>
	<div class="row item">
		<div class="col-md-8">
				<p>Nome: <%= link_to user.nome, user %></p>
				<p>Data de matricula: <%= user.matricula %></p>
			</div>
        	<div class="col-md-1">
				<p><%= link_to user, method: :delete, data: {confirm: "Você tem certeza?"} do%></p>
					<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
				<%end%>
			</div>
		</div>
		<% end %></p>


