<h2>Nome: <%= @user.name%></h2>
		<p>CPF: <%= @user.cpf %></p>
		<p>Email: <%= @user.email %></p>
		<p>Data de matricula:<%= @user.matricula %></p>
		<p>Idade:<%= @user.idade %></p>
			<% if @user.group != nil %>
				<p>Matriculado na turma: <%= @user.group.name %>
				<button type="button" class="btn btn-info"><%= link_to "Remover da turma", remove_group_path(@user.id), method: :patch %></button>
				</p>
			<%else%>
				<p>Não está em nenhuma turma.</p>
			<%end%>
		

<tb><%= link_to users_path do%>
	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to edit_user_path(@user) do%>
	<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to user_path(@user), method: :delete, data: {confirm: "Você tem certeza?"} do%>
	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>

<%= link_to "Novo pagamento", new_payment_path %>

<h3>Pagamentos ja feitos</h3>

  <% @pays.each do |pay| %>
    <p><%=link_to pay.name, pay %></p>
    <%end%>
 