<h2>Nome: <%= @user.nome%></h2>
		<p>CPF: <%= @user.cpf %></p>
		<p>Email: <%= @user.email %></p>
		<p>Data de matricula:<%= @user.matricula %></p>
		<p>Idade:<%= @user.idade %></p>
		<% if @user.group_id != nil %>
		<p>Matriculado na turma: <%= @user.group.name %></p>
		<%end%>
		
		<% if @user.group_id != nil %>
		<%= link_to "Remover da turma", remove_group_path(@user.id), method: :patch %>
		<%end%>

<tb><%= link_to users_path do%>
	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to edit_user_path(@user) do%>
	<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to user_path(@user), method: :delete, data: {confirm: "Você tem certeza?"} do%>
	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>