<h2>Nome: <%= @user.nome%></h2>
		<p>CPF: <%= @user.cpf %></p>
		<p>Email: <%= @user.email %></p>
		<p>Data de matricula:<%= @user.matricula %></p>

<tb><%= link_to users_path do%>
	<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to edit_user_path(@user) do%>
	<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>
<tb><%= link_to user_path(@user), method: :delete, data: {confirm: "Você tem certeza?"} do%>
	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
	<%end%>
</tb>