<!DOCTYPE html>
<html>
<head>
  <title>Aquanis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Aquanis", root_path, class: "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav">
			<li><%= link_to "Turmas", groups_path %></li>
			<li><%= link_to "Alunos", users_path %></li>
			<li><%= link_to "Novo aluno", new_user_path %></li>
			<li><%= link_to "Nova Turma", new_group_path%></li>
			</ul>
		</div>

	</nav>

<%= yield %>

</body>
</html>
